@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rozha+One&display=swap');


$cream: #F1EFED;
$white: #ffffff;
$black: #000000;
$gray: #6D6D6D;
$gray-md: #D5D5D5;
$lt-gray: #efefef;
$red: #C00000;

$sans-serif: 'Inter', sans-serif;
$serif: 'Old Standard TT', serif;
$heading: 'Rozha One', serif;

html, body {
  height: 100%;
  background-color: $cream;
  font-family: $serif;
  color: $black;
  margin: auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
}
  
h1 {
    font-size: 3em; 
}
  
h2 {
  font-weight: 900;
  font-size: 36px;
}

p {
  font-size: 14px;
}

a {
  color: $red;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  :hover {
  }
  :visited { 
  }
  :active {
    
  }
}
.italic {
  font-style: italic;
}

@media only screen and (max-width: 800px) {

  .sections {
    flex-wrap: wrap;
  }

}

@media only screen and (max-width: 450px) {

}